.tema__imagen {
}

.tema__agenda-detalles {
  margin-top: 5rem im !important;
}
.btn-agendar {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;

  &:hover {
    background-color: #0c0f38;
    color: #fff;
  }
}
